<!-- 
File: about.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fortawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <style></style>
<img src=".\Assets\images\logo-white.png" alt="Logo" class="navbar-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </li>

       </ul>
      </div>
    </div>
  </nav>
  <h4> <%= title %> page</h4>
  <div class="container">
    <img src="https://i.ibb.co/92H4Nb1/profilepng.png" alt="Gustavo Frei" style="width: 200px">
    <h1>Gustavo Frei<br></h1>
    <a href=".\Assets\files\Gustavo_Frei_resume.pdf" download>
      <button style="center;padding: 10px 20px; background-color: #000000; color: white; border: none; cursor: pointer;">
        Download Resume
      </button>
    </a></p>
    <h4>Software Engineering Student </h4>
    <h4>Bilingual Customer Executive Specialist at TTEC for Booking.com </h4>
    <p>
      
  </button>
</a>
        My name is Gustavo Frei, and I'm a Bilingual Customer Executive Specialist at TTEC for Booking.com, as well as a Software Engineering student. I'm based in the vibrant city of Toronto, Ontario, Canada. 
        <br><br>My journey in the world of customer service started when I joined TTEC as a Bilingual Customer Executive Specialist. In this role, I assist customers with their travel bookings, cancellations, modifications, and provide recommendations to ensure their satisfaction. I handle inquiries through email, phone, and chat support, using my bilingual skills in English and Portuguese to serve a diverse customer base. Maintaining accurate records and client information in CRM systems is of utmost importance to me, as I prioritize data privacy and security. 
        <br><br>As individuals progress through their professional journeys, it is not uncommon to embark on new ventures and explore different career paths. This often involves acquiring new skills and qualifications to adapt to the demands of a fresh domain. Here, I present the educational background of an individual who underwent a career change, listing the most recent qualifications first.
    </p>
</div>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
<div class="footer">
  <p style="font-size:smaller">Created by Gustavo Frei © 2023 </p>
</div>
</html>



