<!-- 
File: projects.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fortawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <style></style>
<img src=".\Assets\images\logo-white.png" alt="Logo" class="navbar-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </li>

       </ul>
      </div>
    </div>
  </nav>
  <h4> <%= title %> page</h4>
    <h5>Project 1: Simple Website about Jakob Nielsen</h5>
  <img src="./Assets/images/Project_1.png" alt="Jakob Nielsen" class="projects">
  
  <p class="project-description" >This project involved creating a simple website about Jakob Nielsen, a renowned usability expert. The website provided information about his background, contributions to the field, and published works.</p>
  <br>
  <!-- Project 2: Website about Save the Amazon -->
  <h5>Project 2: Website about Save the Amazon</h5>
  <img src="./Assets/images/Project_2.png" alt="Save the Amazon"class="projects">
  <p class="project-description">This project involved developing a website dedicated to raising awareness about the importance of saving the Amazon rainforest. The website featured news articles, educational content, and ways to get involved in conservation efforts.</p>
<br>
  <!-- Project 3: C# Minutes to Hours Converter -->
  <h5>Project 3: C# Minutes to Hours Converter</h5>
  <img src="./Assets/images/Project_3.png" alt="C# Converter"class="projects">
  <p class="project-description">In this project, we developed a C# application that converted minutes to hours. The user could input a value in minutes, and the application would calculate and display the equivalent in hours and minutes.</p>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <br>
  <br>
</body>
<div class="footer">
  <p style="font-size:smaller">Created by Gustavo Frei © 2023 </p>
</div>
</html>



