<!-- 
File: projects.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fortawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <style></style>
<img src=".\Assets\images\logo-white.png" alt="Logo" class="navbar-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </li>

       </ul>
      </div>
    </div>
  </nav>
  <h4> <%= title %> page</h4>
  div class="container">
  <div class="box">
  
      <h2>Website Design</h2>
  
      <p>Customized website design that reflects your brand</p>
      <p> Responsive layouts for seamless user experience</p> 
      <p>Integration of interactive elements and user-friendly navigation.</p>
        
  </div>
  <div class="box">
  
    <h2>Data Analysis and Visualization</h2>

    <p>Collection, organization, and analysis of business data</p>
    <p> Data visualization for intuitive insights and informed decision-making</p> 
    <p>Identification of key performance indicators (KPIs) and data-driven recommendations.</p>
      
</div>
</body>
<div class="footer">
  <p style="font-size:smaller">Created by Gustavo Frei © 2023 </p>
</div>
</html>



