<!-- 
File: services.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fortawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <style></style>
<img src=".\Assets\images\logo-white.png" alt="Logo" class="navbar-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </li>

       </ul>
      </div>
    </div>
  </nav>
  <h4> <%= title %> page</h4>
    <!-- Software Development Assistance -->

    <h5>Software Development Assistance</h5>
  <img src=".\Assets\images\software-development.jpg" alt="software-development" class="services">
  
  <p class="project-description">Assist in developing software applications by working on specific tasks assigned by software engineers or developers. This may include coding, testing, debugging, or documenting the software components.</p>
  <br>
  <!-- Version Control Management -->
  <h5>Version Control Management</h5>
  <img src="./Assets/images/git.png" alt="git"class="services">
  <p class="project-description">Assist in managing version control systems like Git. This involves branching, merging, resolving conflicts, and ensuring proper code repository organization.</p>
<br>
  <!-- Technical Support -->
  <h5>Technical Support</h5>
  <img src="./Assets/images/tech-support.png" alt="tech-support"class="services">
  <p class="project-description">Offer technical support to end-users or clients by troubleshooting software-related issues, providing guidance, or escalating problems to the appropriate team members</p>
  <br>
  <!-- Bug Fixing and Troubleshooting-->
  <h5>Bug Fixing and Troubleshooting</h5>
  <img src="./Assets/images/bug.jpg" alt="bug" class="services">
  <p class="project-description">Help identify and fix software bugs or issues reported by users or other team members. This involves analyzing problem reports, reproducing errors, and implementing solutions or workarounds.</p>
  
  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <br>
  <br>
</body>
<div class="footer">
  <p style="font-size:smaller">Created by Gustavo Frei © 2023 </p>
</div>
</html>



