<!-- 
File: services.ejs
Student: Gustavo Frei 
Student ID: 301290162 
Date: May 30, 2023 

-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fortawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <style></style>
<img src=".\Assets\images\logo-white.png" alt="Logo" class="navbar-logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            </li>
          </li>

       </ul>
      </div>
    </div>
  </nav>
  <style>
  
  </style>
</head>
<body>
  <h4> <%= title %> page</h4>
</nav>
<h5>Basic Software Development</h5>
<img src="./Assets/images/software-development.jpg" alt="Software Development" class="projects">
<div class="list">
<ul>
  <li>Assist in developing simple desktop applications using programming languages like C# or Python.</li>
  <li>Support in implementing basic programming concepts and logic in software development projects.</li>
  <li>Collaborate with a team to build small-scale software solutions.</li>
</ul>
</li><br>
</div>
<!-- Project 2: Website about Save the Amazon -->
<h5>Project 2: Website about Save the Amazon</h5>
<img src="./Assets/images/Project_2.png" alt="Save the Amazon"class="projects">
<p class="project-description">This project involved developing a website dedicated to raising awareness about the importance of saving the Amazon rainforest. The website featured news articles, educational content, and ways to get involved in conservation efforts.</p>
<br>
<!-- Project 3: C# Minutes to Hours Converter -->
<h5>Project 3: C# Minutes to Hours Converter</h5>
<img src="./Assets/images/Project_3.png" alt="C# Converter"class="projects">
<p class="project-description">In this project, we developed a C# application that converted minutes to hours. The user could input a value in minutes, and the application would calculate and display the equivalent in hours and minutes.</p>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>


  <ul>
    <li>
      <h2>Basic Software Development</h2>
      <img src="./Assets/images/software-development.jpg" alt="Software Development" class="projects">
      <ul>
        <li>Assist in developing simple desktop applications using programming languages like C# or Python.</li>
        <li>Support in implementing basic programming concepts and logic in software development projects.</li>
        <li>Collaborate with a team to build small-scale software solutions.</li>
      </ul>
    </li>

    <li>
      <h2>Web Interface Design</h2>
      <img src="./Assets/images/web.webp" alt="Web Interface Design" class="projects">
      <ul>
        <li>Assist in designing user interfaces for websites and web applications.</li>
        <li>Support the creation of visually appealing and user-friendly web interfaces using HTML, CSS, and JavaScript.</li>
        <li>Collaborate with developers to implement interface designs.</li>
      </ul>
    </li>

    <li>
      <h2>Database Management</h2>
      <img src="./Assets/images/database.jpg" alt="Database Management" class="projects">
      <ul>
        <li>Assist in creating and managing databases using database concepts learned in courses like COMP-122 (Introduction to Database Concepts).</li>
        <li>Support basic database operations such as data insertion, deletion, and retrieval.</li>
        <li>Collaborate with database administrators or developers to ensure data integrity and efficiency.</li>
      </ul>
    </li>

    <li>
      <h2>Client-Side Web Development</h2>
      <img src="./Assets/images/clientside.png" alt="Client-Side Web Development" class="projects">
      <ul>
        <li>Assist in building front-end components and features for websites.</li>
        <li>Support the development of interactive web pages using HTML, CSS, and JavaScript.</li>
        <li>Collaborate with back-end developers to integrate client-side functionality.</li>
      </ul>
    </li>
  </ul>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
<div class="footer">
  <p style="font-size:smaller">Created by Gustavo Frei © 2023 </p>
</div>
</html>



